In [1]:
import pandas as pd
df = pd.read_csv("datas/union_datas.csv")
df.shape

(4365, 5)

In [2]:
df.head()

    2.82  000210  2019-08-20 2019-08-20.1  1
0  29.60  264660  2019-08-20   2019-08-20  1
1   1.50  241790  2019-08-20   2019-08-20  1
2   4.03  214450  2019-08-20   2019-08-20  0
3   0.00   17940  2019-08-21   2019-08-21  1
4   3.78  143540  2019-08-21   2019-08-21  1

In [33]:
## fluctuation 0을 기준으로 1, 0으로 new_fluctuation 구분하기

for i in range(len(df)):
    if df.loc[i, 'fluctuation'] >= 0:
        df.loc[i, 'new_fluctuation'] = "1"
    else:
        df.loc[i, 'new_fluctuation'] = "0"

df

,fluctuation,ticker,reception_date,registration_date,check_contract,new_fluctuation
0,29.60,264660,2019-08-20,2019-08-20,1,1
1,1.50,241790,2019-08-20,2019-08-20,1,1
2,4.03,214450,2019-08-20,2019-08-20,0,1
3,0.00,17940,2019-08-21,2019-08-21,1,1
4,3.78,143540,2019-08-21,2019-08-21,1,1
...,...,...,...,...,...,...
4360,-1.62,78000,2022-08-18,2022-08-18,1,0
4361,0.00,32860,2022-08-18,2022-08-18,1,1
4362,-0.68,100090,2022-08-19,2022-08-19,1,0
4363,-0.49,68270,2022-08-19,2022-08-19,1,0
4364,1.22,86980,2022-08-19,2022-08-19,1,1

In [34]:
# statsmodels package loading
import statsmodels.api as sm

# logistic regression
feature = df["check_contract"]
output = df["new_fluctuation"]
model = sm.formula.glm("output ~ feature", df, family = sm.families.Binomial()).fit()
print(model.summary())

                     Generalized Linear Model Regression Results
======================================================================================
Dep. Variable:     ['output[0]', 'output[1]']   No. Observations:                 4365
Model:                                    GLM   Df Residuals:                     4363
Model Family:                        Binomial   Df Model:                            1
Link Function:                          Logit   Scale:                          1.0000
Method:                                  IRLS   Log-Likelihood:                -2884.2
Date:                        Thu, 01 Sep 2022   Deviance:                       5768.4
Time:                                01:23:15   Pearson chi2:                 4.36e+03
No. Iterations:                             4   Pseudo R-squ. (CS):          1.005e-06
Covariance Type:                    nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.5082      0.144     -3.524      0.000      -0.791      -0.226
feature       -0.0098      0.148     -0.066      0.947      -0.299       0.280
==============================================================================

일단 하긴했는데 ..  몬소린지 모르겟다 .........